# CH2: データを可視化し分析を行う
File
| No |  File Name|  |
|---|---|---|
| 1|  order_data.csv | output from ch1 |

## Nock11: データを読んで不要なものを削除する

In [6]:
import pandas as pd
order_data = pd.read_csv('data/ch2/order_data.csv')
print(len(order_data))
order_data.head()

703880

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,お支払い済み,浅草店,TK,東京,東京,お持ち帰り
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,お渡し済み,目黒店,TK,東京,東京,デリバリー
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,お渡し済み,本郷店,TK,東京,東京,デリバリー
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,お渡し済み,栃木店,TO,北関東,栃木,デリバリー
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,お渡し済み,伊勢崎店,GU,北関東,群馬,デリバリー